#landing-page {
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.navigation {
    background: rgba(59, 6, 33, 0.815);
    color: #fff;
    font-weight: bolder;
}
.navbar-nav .nav-item .nav-link {
    color: rgb(50, 182, 153);
}

#pizzasize, #pizzatopping, #pizzacrust, #pizzanumbers, #pizzadelivery, #pizzacheckout {
    background: rgba(255, 255, 255, 0.76);
    padding: 25px;
    border-radius: 12px 5px;
    
}

#pizzaform {
    transition: .2s;
}
#pizzaform:hover {
    margin: -1% 0 0 0;
    transition: all .4s;
}

.setcont.defaultcont {
    display: flex;
}
.setcont {
    display: none;
}